.header {
    border-bottom: 1px solid #E3E3E3;
    background: #1D7293;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-size: 0px;
            height: 50px;
            display: flex;
            align-items: center;
            img {
                width: auto;
                height: 34px;
            }
        }
        .header-nav {
            .mobile-btn {
                display: none;
                .close {
                    display: none;
                }
                @media (max-width: 767px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 32px;
                    text-align: center;
                    .hamb {
                        width: 100%;
                    }
                    .text {
                        width: 100%;
                        justify-content: center;
                        color: #1D7293;
                        font-size: 10px;
                        text-transform: uppercase;
                        font-weight: 600;
                        justify-content: center;
                    }
                }
            }
            ul {
                display: flex;
                @media (max-width: 767px) {
                    display: none;
                }
                li {
                    margin-left: 71px;
                    position: relative;
                    &:before {
                        position: absolute;
                        content: '';
                        left: -37px;
                        background: #E3E3E3;
                        height: 30px;
                        top: -4px;
                        width: 1px;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        color: #FFFFFF;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #fff;
    ul {
        li {
            border-bottom: 1px solid #E3E3E3;
            a {
                text-align: center;
                display: block;
                color: #4E4E4E;
                font-size: 20px;
                font-weight: 600;
                line-height: 60px;
            }
        }
    }
}

.page-ttl {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    @media (max-width: 767px) {
        font-size: 20px;
    }
}

.breadcrumbs {
    margin: 15px 0;
    ul {
        li {
            display: inline;
            position: relative;
            padding-right: 40px;
            &:after {
                position: absolute;
                content: '';
                background: url(../images/ico-breacrumbs.svg) center no-repeat;
                width: 13px;
                height: 9px;
                right: 14px;
                top: 7px;
            }
            &:last-child {
                padding-right: 0;
                &:after {
                    display: none;
                }
            }
            a {
                color: #1D7293;
                font-size: 14px;
                text-decoration: underline;
            }
            span {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}

.action-menu {
    background: #F1F1F1;
    .container {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
            flex-wrap: wrap;
        }
    }
    ul.menu-list {
        display: flex;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            width: calc(100% + 30px);
            position: relative;
        }
        >li {
            font-size: 15px;
            color: #fff;
            display: flex;
            height: 50px;
            align-items: center;
            @media (max-width: 767px) {
                &:nth-child(1) {
                    width: 26%;
                    a {
                        &:before {
                            left: calc(50% - 35px);
                        }
                    }
                }
                &:nth-child(2) {
                    width: 29%;
                    a {
                        &:before {
                            left: calc(50% - 40px);
                        }
                    }
                }
                &:nth-child(3) {
                    width: 45%;
                    a {
                        &:before {
                            left: calc(50% - 60px);
                        }
                    }
                }
            }
            &.sort {
                @media (max-width: 767px) {
                    width: 50%;
                    font-size: 14px;
                }
                .item-ttl {
                    border-left: 1px solid #E6E6E6;
                    border-right: 1px solid #E6E6E6;
                    padding: 0 25px 0 25px;
                    position: relative;
                    display: flex;
                    height: 50px;
                    align-items: center;
                    border-top: 2px solid #F1F1F1;
                    width: 150px;
                    @media (max-width: 767px) {
                        width: 100%;
                        padding-left: 15px;
                        position: static;
                    }
                    &:hover {
                        background: #fff;
                        color: #282828;
                        .sub-menu {
                            display: block;
                        }
                    }
                }
            }
            &.advance {
                @media (max-width: 767px) {
                    width: 50%;
                    font-size: 14px;
                }
                .item-ttl {
                    width: 190px;
                    padding: 0 25px 0 25px;
                    border-left: 1px solid #E6E6E6;
                    position: relative;
                    display: flex;
                    height: 50px;
                    align-items: center;
                    border-top: 2px solid #F1F1F1;
                    @media (max-width: 767px) {
                        width: 100%;
                        padding-left: 15px;
                        padding: 15px;
                    }
                    &:hover {
                        background: #fff;
                        color: #282828;
                        .sub-menu {
                            display: block;
                        }
                    }
                    .sub-menu {
                        padding: 30px 25px;
                        width: 553px;
                        @media (max-width: 1024px) {
                            left: auto;
                            right: -70px;
                        }
                        @media (max-width: 1024px) {
                            width: 200%;
                            left: 0;
                            right: auto;
                        }
                        .checkbox {
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            margin: 10px 0 0 20px;
                            &.no-mobile {
                                &+label {
                                    @media (max-width: 767px) {
                                        font-size: 0px;
                                    }
                                }
                            }
                            &.hidden {
                                display: none;
                            }
                            &+label {
                                position: relative;
                                padding: 0 0 0 25px;
                                cursor: pointer;
                                display: flex;
                                &:before {
                                    position: absolute;
                                    content: '';
                                    left: 0;
                                    top: 0;
                                    background: #F7F7F7;
                                    border: 1px solid #E7E7E7;
                                    border-radius: 2px;
                                    width: 14px;
                                    height: 14px;
                                    border-radius: 2px;
                                }
                                &:after {
                                    position: absolute;
                                    content: '';
                                    top: 4px;
                                    left: 2px;
                                    width: 11px;
                                    height: 8px;
                                    background: url(../images/ico-checkbox.svg) center no-repeat;
                                    background-size: contain;
                                    opacity: 0;
                                }
                            }
                            &:checked {
                                &+label {
                                    &:before {
                                        border-color: #176583;
                                    }
                                    &:after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        .list {
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                width: 50%;
                                margin-bottom: 8px;
                                padding-right: 10px;
                                @media (max-width: 767px) {
                                    width: 100%;
                                    padding-right: 0;
                                }
                                label {
                                    font-size: 14px;
                                }
                            }
                        }
                        .btn {
                            display: flex;
                            width: 150px;
                            height: 45px;
                            border: none;
                            text-transform: uppercase;
                            background: #176583;
                            box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.04);
                            border-radius: 5px;
                            font-weight: 600;
                            font-size: 14px;
                            color: #FFFFFF;
                            letter-spacing: 2px;
                            justify-content: center;
                            align-items: center;
                            margin-top: 20px;
                            @media (max-width: 767px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &.width_sumbenu {
                position: relative;
                cursor: pointer;
                color: #282828;
                &:after {
                    position: absolute;
                    content: '';
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 12px;
                    height: 12px;
                    background: url(../images/ico-arrow-dropdown.svg) center no-repeat;
                    background-size: contain;
                    @media (max-width: 767px) {
                        right: 15px;
                    }
                }
                &:hover {
                    &:after {
                        background: url(../images/ico-arrow-dropdown.svg) center no-repeat;
                        background-size: contain;
                        transform: rotate(180deg);
                        top: 40%;
                    }
                }
                .sub-menu {
                    display: none;
                    position: absolute;
                    background: #fff;
                    left: 0;
                    top: 100%;
                    z-index: 1;
                    min-width: 100%;
                    padding: 12px 0;
                    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.12);
                    @media (max-width: 1024px) {
                        width: 200%;
                        left: auto;
                        right: 0;
                    }
                    li {
                        a {
                            display: flex;
                            height: 40px;
                            padding-left: 23px;
                            color: #282828;
                            font-size: 15px;
                            align-items: center;
                            @media (max-width: 767px) {
                                justify-content: center;
                                padding-left: 0;
                                font-size: 24px;
                                height: 55px;
                            }
                            &:hover {
                                background: #F3F3F3;
                            }
                            &.active {
                                color: #176583;
                            }
                        }
                    }
                }
            }
            >a {
                color: #282828;
                display: flex;
                height: 50px;
                align-items: center;
                padding: 0 22px 0 52px;
                position: relative;
                border-left: 1px solid #E6E6E6;
                @media (max-width: 767px) {
                    font-size: 15px;
                    padding: 0 7px 0 33px;
                    border-bottom: 1px solid #256780;
                    width: 100%;
                    justify-content: center;
                }
                &:before {
                    position: absolute;
                    content: '';
                    left: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &.print {
                    &:before {
                        background: url(../images/ico-print.svg) center no-repeat;
                        width: 22px;
                        height: 15px;
                    }
                }
                &.email {
                    &:before {
                        background: url(../images/ico-mail.svg) center no-repeat;
                        width: 21px;
                        height: 15px;
                    }
                }
                &.save {
                    &:before {
                        background: url(../images/ico-file.svg) center no-repeat;
                        width: 19px;
                        height: 15px;
                    }
                }
            }
        }
    }
    .search-form {
        position: relative;
        align-items: center;
        display: flex;
        width: calc(100% - 730px);
        @media (max-width: 1024px) {
            width: 100%;
            margin-bottom: 5px;
        }
        form {
            max-width: 100%;
            width: 100%;
            margin-left: 30px;
            @media (max-width: 1024px) {
                margin-left: 0;
            }
        }
        input {
            max-width: 100%;
            width: 100%;
            height: 38px;
            padding: 0 25px;
            box-sizing: border-box;
            font-size: 15px;
            border: none;
            background: #FFFFFF;
            border-radius: 3px;
        }
        button {
            position: absolute;
            right: 20px;
            top: 16px;
            background: transparent;
            border: none;
            @media (max-width: 1024px) {
                top: 12px;
            }
        }
    }
}

.pagination {
    margin-top: 40px;
    margin-bottom: 110px;
    ul {
        display: flex;
        li {
            display: flex;
            &:last-child {
                span,
                a {
                    margin-right: 0;
                }
            }
            a {
                display: flex;
                width: 45px;
                height: 45px;
                background: #FFFFFF;
                border: 1px solid #E3E3E3;
                border-radius: 2px;
                font-weight: 600;
                font-size: 14px;
                color: #282828;
                justify-content: center;
                align-items: center;
                margin-right: 14px;
                @media (max-width: 767px) {
                    display: none;
                }
                &:hover {
                    border-color: #1D7293;
                }
                &.prev-btn {
                    background: url(../images/pagination-left.svg) center no-repeat;
                    @media (max-width: 767px) {
                        display: flex;
                    }
                }
                &.next-btn {
                    background: url(../images/pagination-right.svg) center no-repeat;
                    @media (max-width: 767px) {
                        display: flex;
                    }
                }
                &.prev-page,
                &.next-page {
                    display: flex;
                }
            }
            span {
                display: flex;
                width: 45px;
                height: 45px;
                background: #FFFFFF;
                border: 1px solid #E3E3E3;
                border-radius: 2px;
                font-weight: 600;
                font-size: 14px;
                color: #282828;
                justify-content: center;
                align-items: center;
                margin-right: 14px;
                @media (max-width: 767px) {
                    display: none;
                }
                &.current-page {
                    background: #1D7293;
                    color: #fff;
                    @media (max-width: 767px) {
                        display: flex;
                    }
                }
            }
        }
    }
}